<h2>About Me</h2>

<p>My website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

<hr>
{{#link-to 'index'}}Homepage{{/link-to}} |
{{#link-to 'projects'}}Projects{{/link-to}} |
{{#link-to 'contact'}}Contact me{{/link-to}}|
