<div id="wrapper">
  <header>
    <h1>Bang Nguyen</h1>
  </header>
  <section id="secondary">
    <h3>Contact Details</h3>
    <ul class="contact-info">
      <li class="phone"><a href="tel:123-456-7890">123-456-7890</a></li>
      <li class="mail"><a href="mailto:bangnv77@gmail.com">willveagle@gmail.com</a></li>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?screen_name=willveagle">@willveagle</a></li>
    </ul>
  </section>
  <footer>
    <a href="https://twitter.com/WillVeagle"><img src="../../styles/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
    <a href="https://www.facebook.com/will.veagle"><img src="../../styles/img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
    <p>&copy; 2016 Bang Nguyen.</p>
  </footer>
</div>

<hr>
{{#link-to 'index'}}Homepage{{/link-to}} |
{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'projects'}}Projects{{/link-to}} |
