<h1> Welcome to My Personal Website </h1>
<p>Hello, my name is Bang. I am taking a web development program at Epicodus and looking forward to working in the IT industry. I understand the importance of continuing education and the importance of knowledge. Therefore I keep learning new things everyday and would like to make new applications.</p>


<hr>
{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'projects'}}Projects{{/link-to}} |
{{#link-to 'contact'}}Contact me{{/link-to}} |
